@mixin linkStyle {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 90px;
  margin: 0 5px;
  padding: 0;
  border-radius: 5px;
  position: absolute;
  height: 30px;
  top: 47%;

  transform: translateY(-50%);
  transition: .3s;
  cursor: pointer;
  &:hover {
    span {
      color: #0155a9;
      text-shadow: 1px 1px 2px #d4d9f1,3px 1px 2px #aebeff,1px 1px 2px #8096ef;
    }
  }
  &:active {
    transform: translateY(-50%) scale(.97);
  }
  span {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    font-family: 'Open Sans';
    font-family: sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    text-align: center;
    color: #eceffd;
    text-shadow: 1px 1px 2px #00020a,1px 1px 2px #00020a,1px 1px 2px #00020a;
    flex: none;
    margin: 0;
    transition: .3s;
  }
}

.header {
  position: absolute;
  background: url('../assets/sky1c.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  top: 0;
  height: 80px;
  width: 100%;
  min-width: 320px;
  margin: 0 auto;
  min-width: 320px;
  background-color: #a6c3dc;
  padding: 30px 20px;

  .theme-btn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    border-radius: 3px;
    width: 70px;
    height: 20px;
    font-size: .4rem;
    line-height: 10px;
    left: 5px;
    top: 5px;
    cursor: pointer;
    &:hover {
      background-color: #8ba0c1;
      color: blue;
    }
  }

  .fa-home {
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    left: 5px;
    z-index: 1;
    text-decoration: none;
    border-radius: 3px;
    padding: 5px;
    background-color: white;
    opacity: .7;
    transition: .3s;
    &:hover {
      opacity: 1;
      color: green;
      transform: translateY(-50%) scale(1.07);
    }
  }

  .goback-btn {
    position: absolute;
    top: 60%;
    left: 40px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    z-index: 1;
    text-decoration: none;
    border-radius: 3px;
    padding: 5px;
    background-color: rgb(228, 223, 223);
    opacity: .7;
    transition: .3s;
    &:hover {
      opacity: 1;
      color: green;
      transform: translateY(-50%) scale(1.07);
    }
  }
  
  .logo {
    position: absolute;
    visibility: hidden;
    width: 90px;
    height: 90px;
    left: 0;
    top: 44%;
    transform: translateY(-50%);
    color: #252B42;
    font-family: sans-serif;
    font-weight: 800;
    .logopic {
      width: 100%;
      height: 100%;
    }
  }

  .headerRestaurantLink {
    @include linkStyle;
      left: 60px;
  }

  .headerLink {
    @include linkStyle;
    right: 80px;
  }

  .rectangle {
    position: absolute;
    width: 100%;
    height: 5px;
    top: 75px;
    background-color: #4b70aa;
    left: 50%;
    transform: translateX(-50%);
  }

  .enterBtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 6px 5px;
    position: absolute;
    height: 30px;
    right: 10px;
    top: 47%;
    transform: translateY(-50%);
    background-color: #eef8ff;
    border: 1px solid #35326c;
    border-radius: 7px;
    transition: .3s;
    cursor: pointer;
    &:hover {
      background: #7b8cc4;
      span {
        color: white;
      }
    }
    &:active {
      transform: translateY(-50%) scale(.97);
    }

    span {
      width: 66px;
      height: 24px;
      left: 20px;
      top: 6px;
      font-family: 'Montserrat';
      font-weight: 900;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      color: #2b2566;
      flex: none;
      order: 0;
      flex-grow: 0;
      margin: 10px 0;
    }
  }

  @media (min-width: 576px) {
    .enterBtn {
      right: 25px;
      padding: 8px 10px;
      height: 40px;
    }
    .theme-btn {
      left: 110px;
      width: 85px;
    }
    .fa-home {
      left: 110px;
      font-size: 26px;
    }
    .goback-btn {
      left: 160px;
      padding: 5px;
      font-size: 26px;
      height: 34px;
      width: 35px;
    }
    .headerRestaurantLink {
      left: 270px;
      span {
        font-size: 22px;
        margin-right: 40px;
      }
    }
    .headerLink {
      right: 130px;
      span {
        font-size: 22px;
      }
    }
    .logo {
      visibility: visible;
      left: 0;
      opacity: .8;
    }
  }

  @media (min-width: 1080px) {
    .theme-btn {
      left: 120px;
      width: 95px;
    }
    .enterBtn {
      right: 40px;
      padding: 8px 20px;
      height: 40px;
    }
    .fa-home {
      left: 120px;
    }
    .goback-btn {
      left: 180px;
    }
    .headerRestaurantLink {
      right: 240px;
      span {
        font-size: 26px;
        margin-right: 40px;
      }
    }
    .headerLink {
      right: 170px;
      span {
        font-size: 26px;
      }
    }
    .headerRestaurantLink {
      right: 290px;
    }
  }
}
